@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f4f4; /* Light clay look background */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
